# Catxi Backend Instances
EC2_INSTANCE_1={{ lookup('env', 'EC2_INSTANCE_1') }}
EC2_INSTANCE_2={{ lookup('env', 'EC2_INSTANCE_2') }}

# Grafana Configuration
GRAFANA_ADMIN_PASSWORD={{ lookup('env', 'GRAFANA_ADMIN_PASSWORD') }}
GRAFANA_SECRET_KEY={{ lookup('env', 'GRAFANA_SECRET_KEY') }}
GF_SERVER_ROOT_URL={{ lookup('env', 'GF_SERVER_ROOT_URL') }}

# Redis Configuration
REDIS_HOST={{ lookup('env', 'REDIS_HOST') }}
REDIS_PORT={{ lookup('env', 'REDIS_PORT') }}
REDIS_PW={{ lookup('env', 'REDIS_PW') }}

# AlertManager Configuration
DISCORD_WEBHOOK_URL={{ lookup('env', 'DISCORD_WEBHOOK_URL') }}